extends layout

block content
  h1= title
  p Welcome to the #{title} library! Find your book and share with your bros!

  form(action='/search/submit' method='post')
    input(type='text' name='id')
    button(type='submit') Submit

  div
    h3 Today's Recommendation